<div class="favorite-ranking">
  <h3 class="ranking-title">いいねランキング</h3>

  <table class="ranking-body table">
    <% @all_ranks.each.with_index(1) do |item, i| %>
      <tr>
        <td>第 <%= i %> 位 <%= link_to item.name, item_path(item.id) %></td>
        <td><%= item.favorites.count%> いいね</td>
      </tr>
    <% end %>
  </table>
</div>
