<div class="row">
  <%= render '/template/item_search', search: @search %>
  <%= render '/template/search' %>
  <%= render 'layouts/items', items: @items %>
  <%= render '/template/favorite_ranking', all_ranks: @all_ranks %>
</div>
