<li><%= link_to ' logout', destroy_admin_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>

<h3>管理者商品一覧</h3>
<div class="row">
  <%= render 'layouts/items', items: @items %>
</div>
