// Place all the styles related to the EndUser::Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.end_user-contact h1 {
  text-align: center;
}

.contact-bottom{
  margin: 0 auto;
}

.text-box {
  width:100%;
}

