// Place all the styles related to the end_user/payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .price {
//   text-align: center;
// }

// .title {
//   text-align: center;
// }

.carts-wrapper {
  padding: 30px;
  margin-top: 20px;
}

.title {
  text-align: center;
}

.order-form {
  text-align: center;
  border: solid;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  background-color: #EEEEEE;
}

.new-shipping-form {
  text-align: center;
  border: solid;
  border-radius: 30px;
  padding: 20px;
  margin: 20px auto;
  background-color: #EEEEEE;
}

.postal_code {
  margin: 0 auto;
}

.field {
  margin: 10px auto;
}

.action {
  margin-top: 20px;
}

.cart-items {
  text-align: center;
}
