<div class="row">
  <div class="col-xs-6">
    <%= render '/template/item_search', search: @search %>
  </div>

  <div class="col-xs-6">
    <%= render '/template/search' %>
  </div>

  <div class="item-index col-xs-12">
    <%= render 'layouts/items', items: @items %>

    <div class="favorite_ranking col-xs-12">
      <%= render '/template/favorite_ranking', all_ranks: @all_ranks %>
    </div>
  </div>
</div>
