<h1>退会に関して</h1>

<h3>アカウントを退会すると、その後は一切そのアカウントにアクセスすることができません。
  以下のことをよく確認したうえで「退会の申請を行う」ボタンをクリックしてください。
</h3>

<ul>
  <li><b>未発送の注文がないかをご確認ください：</b>
    未発送のご注文がある場合は商品の発送完了後にあらためてご連絡ください。
    ご連絡いただいた際に、未発送の注文がアカウントに残っている場合には、
    未発送の注文をすべてキャンセルさせていただいた後に
    アカウントを閉じる処理を行わせていただきます。</li>
  <li><b>ご注文済みの商品は、返品の可能性がないことをご確認ください：</b>
    アカウントを閉じた後は、返品はできません。</li>
  <li><b>今後当サイトをご利用いただく際には、新たにアカウントを作成いただきます：</b>
    閉鎖したアカウントの情報は一切引き継ぐことはできません。</li>
  <li><b>退会した後も一部情報はなくなりません：</b>
     商品に対するレビュー、購入履歴、お問い合わせ履歴などは完全に消すことができません。</li>
  <li><b>退会には1~2週間ほどかかります。</b></li>
</ul>
