<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">dicite</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Guest</a></li>
        <li><a href="#">items_index</a></li>
        <li><a href="#">Mypage</a></li>
        <li><a href="#">cart</a></li>
        <li><a href="#">contacts</a></li>
        <li><a href="#">logout</a></li>
      </ul>
    </div>
  </nav>
</header>
